<h3><%= @portfolio.name %></h3>
<% @portfolio.projects.each do |project| %>
  <p><%= project.name %></p>
<% end %>

<% @portfolio.skills.each do |skill| %>
  <p><%= skill.name %></p>
<% end %>
<%= link_to 'Add a skill to a portfolio', new_user_portfolio_skill_path(@user, @portfolio) %>
